:root {
  font-family: 'Open Sans', serif;
  line-height: 100%;
}


body {
  background-color: #F5F4F0;
  background-size: cover;
}

h1 {
  font-family: 'Open Sans', serif;
  color: #1B1B1B;
  font-size: 36px;
  font-weight: bold;
}

p {
  font-size: 16px;
  color:#333333
}


h2 {
  color: #1B1B1B;
  font-size: 32px;
  font-weight: bold;
}

h3 {
  color: #1B1B1B;
  font-size: 28px;
  font-weight: bold;
  padding-left: 4px;
}

.headline {
  font-size: 16px;
  line-height: 22px;
  font-weight: bold;
  color: #E1624F;
  text-transform: uppercase;
}

#page {
  width: 1120px;
  color: #D9D9D9;
  box-sizing: border-box;
  margin: 80px auto;

  
}

.subtitle {
    font-size: 16px;
    line-height: 22px;
    font-style: italic;
    text-align: center;
    color: #333333;
    margin-top: 24px;
  }

img {
  border-radius: 28px;
  height: 350px;
  width: 100%;
}

subtitle {
  font-size: 16px;
  font-style: italic;
  text-align: center;
}

li::marker {
  color: #333333;
}

li {
  font-weight: bold;
}

.divider {
  width: 100%;
  height: 1px;
  margin: 36px 0;
  background-color: #D9D9D9;
}

.p1 {
  text-align: center;
}


footer {
  color: #333333;
  text-align: center;
  padding-bottom: 48px;
}

footer img {
  vertical-align: middle;
  max-width: 16px;
  max-height: 16px;
}

.busan1 {
  height: 100%;
}

.bold {
  font-size: 16px;
  font-weight: bold;
}

main div img {
  height: 350px;
  object-fit: cover;
  margin-top: 44px;
}